block welcome
- var social__links = {vk: 'vk.com', github: 'github.com', linkedin: 'linkedin.com'}
- var navigation = {work: 'Мои работы', about: 'Обо мне', blog: 'Блог'}
- var name__text = "Иванов Иван Иванович"
- var name__description = "сайт портфолио"
- var footer__text = "Подпись в футере"
.wrapper
    header.header
        a(href="#").autorization-button Авторизуйтесь
    .welcome-content
        .my-foto
            img.my-foto__logo-img(src="/assets/img/viking.png")
        .my-name
            h1.my-name__text #{name__text}
            h3.my-name__description #{name__description}
        .social-icons
            ul.social-buttons__list
                each value in social__links
                    li.social-butoons__item
                        a.social-butoons__link(href=value)
        .navigation-menu
            ul.navigation-menu__list
                each value,key in navigation
                    li.navigation-menu__item
                        a.navigation-menu__link(href=key+'.html') #{value}
    footer.footer #{footer__text}